body {
  /*   background-color: #edede9; */
  display: flex;
  justify-content: center;
 
}

.container {
  padding: 10px;
  min-width: 700px;
  width: 800px;
}

header {
  font-size: 1rem;
  padding: 1px 10px;
}

.secondaryContainer {
  background-color: #a3b18a;
  border-radius: 10px;
  padding: 0px 0px 5px 0px;
/*     min-width: 300px; */
/*   width = 80%; */
/*   max-width: 2000px; */
}

nav {
  padding: 10px;
  display: flex;
  background-color: #588157;
  border-radius: 10px 10px 0px 0px;
}

.gridContainer {
  display: grid;
  justify-content: center;
  grid-template-columns: 33% 33% 33%;
  min-height: 200px;
}

.textEditor {
  width: 95%;
  min-height: 100px;
  margin: 10px 0px;
  padding: 10px;
  font-size: 15px;
}

.gridSquare {
  background-color: #e9edc9;
  border-radius: 10px;
  margin: 5px;
  padding: 15px;
  height: 200px;
  min-width: 200px;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  /*       white-space: nowrap; */
  text-overflow: ellipsis;
  box-sizing: border-box;
  border: 3px solid transparent;
   transition: width 1s ease-in-out;
}

.gridSquare:hover {
  border: 3px solid white;
}

.gridSquare.expanded {
  border: 3px solid white;
}

.expandedGridContainer {
    min-height: 200px;
  display: none;
  flex-direction: column;
/*   justify-content: center; */
  margin: 10px;
  padding: 10px 15px;
  background-color: #ccd5ae;
  border-radius: 5px;
  width = 90%;
}

/* Buttons/Nav */

#returnButton {
/*   visibility: hidden; */
  
 opacity: 0%; 
}

#editButton {
/*   visibility: hidden; */
  opacity: 0%; 
}

#deleteButton {
/*   visibility: hidden; */
  opacity: 0%; 
}

#saveButton {
/*   visibility: hidden; */
  opacity: 0%; 
}

.button {
  transition: opacity .25s ease-in-out;
  background-color: #fff;
  border-radius: 12px;
  color: #000;
  cursor: pointer;
  font-weight: bold;
  padding: 6px 10px;
  margin-right: 5px;
  text-align: center;
  width: 60px;
  box-sizing: border-box;
  border: 0;
  font-size: 12px;
}

.newButton {
  margin-left: auto;
}
